name: Test

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Lint with flake8
      run: |
        pip install flake8
        flake8
  test:
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
            - os: ubuntu-20.04
              python-version: 3.5
              toxenv: py35
            - os: ubuntu-20.04
              python-version: 3.6
              toxenv: py36
            - os: ubuntu-20.04
              python-version: 3.7
              toxenv: py37
            - os: ubuntu-20.04
              python-version: 3.8
              toxenv: py38
            - os: ubuntu-20.04
              python-version: 3.9
              toxenv: py39
    env:
      TOXENV: ${{ matrix.toxenv }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install system dependencies
      run: |
        sudo add-apt-repository -y ppa:costamagnagianfranco/borgbackup
        sudo apt-get update
        sudo apt-get install -y borgbackup
    - name: Install python dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install -r requirements.d/development.txt
        pip install codecov
        pip install -e .
    - name: Run tox
      run: | 
        tox --skip-missing-interpreters
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}        
